.shorten-input {
    display: flex;
    max-width: 800px;
    margin: auto;
}
.shorten-textfield {
    flex-grow: 1;
    width: auto;
}
.shorten-textfield input {
    border-color: rgba(255,255,255,0.5);
}
.shorten-textfield label {
    color: rgba(255,255,255,.75);
}
.shorten-btn {
    margin: 10px 0;
}
